<!-- Slider starts -->
  
    <div class="full-slider">
        <!-- Slider (Flex Slider) -->
          
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="flexslider">
                  <ul class="slides">

                    <li>
                      
                      <!-- Slider content -->
                      <div class="flex-caption">
                        <!-- Left column -->
                        <div class="col-l">
                          
                            <h2>Aulas particulares</h2>
                            <h6>O Projeto Matemática é um site que reúne professores altamente qualificados, com formação acadêmica em instituições de renome e com a didática refinada após muitos anos de experiência.</h6>
                     

                        </div>
                        <!-- Right column -->
                        <div class="col-r">

                          <!-- Use the class "flex-back" to add background inside flex slider -->
                         
                            <h5>Experiência e didática</h5>
                            <p>Os professores do Projeto Matemática têm prazer em ensinar e compartilhar conhecimento desde sempre, por isso vêm aperfeiçoando sua didática através de muito estudo e aulas, a fim de ensinar os alunos a caminharem sozinhos.</p>
                          

                          <!-- Button -->
                          <div class="button">
                            <a href="<%= contato_path %>"><i class="icon-envelope"></i> Solicite uma aula</a>
                          </div>

                        </div>
                      </div>

                    </li>

                    <li>
                      <div class="flex-caption flex-center">
                        <h2>Passar No Vestibular?</h2>

                        <p>Se o seu objetivo é passar no vestibular, seja ele qual for, aqui há professores que passaram pela mesma coisa e tiveram grande êxito, estudando nas melhores univerdades do país.</p>

                          <!-- Button -->
                          <div class="button">
                            <a href="<%= contato_path %>"><i class='icon-user'></i> Chame um professor</a>
                          </div>

                      </div>
                    </li>
                    
                    <li>
                      
                      <!-- Slider content -->
                      <div class="flex-caption">
                        <!-- Left column -->
                        <div class="col-l">
                          <h2>Melhorar As Notas?</h2>
                          <h6>Se a meta é melhorar as notas, quem melhor para ajudar do que aqueles que foram os melhores alunos da turma?</h6>

                          <!-- Button -->
                          <div class="button">
                            <a href="<%= contato_path %>"><i class="icon-book"></i> Quero ajuda!</a>
                          </div>

                        </div>
                        <!-- Right column -->
                        <div class="col-r">

                          <!-- Use the class "flex-back" to add background inside flex slider -->
                          <div class="flex-back">
                            <h5>Os melhores professores</h5>
                            <p>Uma grande formação não basta, mas uma vida de dedicação aos estudos aliada a uma excelente didática é o que faz com que os professores do Projeto Matemática se destaquem no ensino, sendo responsáveis por ótimos resultados junto a seus alunos.</p>
                          </div>

                        </div>
                      </div>

                    </li>

                    
                  </ul>
                </div>
              </div>
            </div>
          </div>
    </div>

<!-- Slider Ends -->

<div class="content">
  <div class="container">


    <!-- Hero Unit -->

    <div class="row center">
      <div class="col-md-12">

        <div class="bor"></div>

        <h3>Bem-vindo ao  <span class='logo-color'>Projeto Matemática</span></h3>
        <p>Aqui você encontra os melhores professores que te ajudarão nas matérias que você mais precisa.<br />Seu objetivo é o nosso objetivo!</p>
        <div class="bor"></div>
        <hr />
      </div>  
    </div>

    <!-- Hero Ends -->      





<!-- Features starts -->

<div class="features-four">

  <div class="row">

    <div class="col-md-4 col-xs-6">
      <div class="f-block b-red">
        <a href="#"><i class="icon-home"></i></a>
        <a href="#"><h4>O professor vai até você</h4></a>
        <p>A aula pode ser em casa, no escritório, na faculdade ... o professor vai aonde for melhor para o aluno.</p>
      </div>
    </div>

    <div class="col-md-4 col-xs-6">
      <div class="f-block b-purple">
        <a href="#"><i class="icon-desktop"></i></a>
        <a href="#"><h4>As aulas podem ser online</h4></a>
        <p>Caso você prefira, as aulas podem ser ministradas via Skype ou Hangout. Tudo para sua comodidade.</p>
      </div>
    </div>

    <div class="col-md-4 col-xs-6">
      <div class="f-block b-lblue">
        <a href="#"><i class="icon-calendar"></i></a>
        <a href="#"><h4>Tudo combinado com o professor</h4></a>
        <p>Os dias e os horários das aulas são combinados direto com o professor, assim como os valores cobrados. </p>
      </div>
    </div>        

  </div>
</div>

<!-- Features ends -->

<!-- Testimonial starts -->
<hr />

<h3 class='logo-color'>Algumas opiniões...</h3>
<br />
<div class="testimonial">
  <div class="row">
    <div class="col-md-6">
      <blockquote>
        <p>Chamar um professor do <strong>Projeto Matemática</strong> foi a melhor coisa que fiz! Não só minhas notas em Matemática, Física e Química subiram absurdamente como eu finalmente aprendi a estudar e aprendi a ter disciplina. Melhor professor que já tive! Obrigada!</p>
        <small>Karolyne, <span class="color">Aluna do Ensino Médio</span></small>
      </blockquote>
    </div>
    <div class="col-md-6">
      <blockquote>
        <p>Achei que nada me salvaria na faculdade, até que comecei a ter aulas particulares de Física, Cálculo e Álgebra Linear. A didática do professor é perfeita e a experiência e o conhecimento são fantásticos. Recomendo a todos.</p>
        <small>Wilton, <span class="color">Aluno de Engenharia</span></small>
      </blockquote>
    </div>
  </div>
</div>

<!-- Testimonials ends -->

<div class="border"></div>

<!-- Product & links starts -->

  <div class="prod">
    <div class="row">
      <div class="col-md-4">
        <div class="home-links">
          <div>
            <h5>Quer saber mais?</h5>
            <p>Navegue pelo site e conheça nossos trabalhos e nossos objetivos. Siga-nos também nas redes sociais.</p>
          </div>
        </div>
      </div>
    
      <div class="col-md-8"> 
        <div class="home-product">
          <div class="home-prod-img" id="s1">
            <%= image_tag "private_teaching.jpg", alt: "", class: "img-responsive" %> 
            <%= image_tag "exam.jpg", alt: "", class: "img-responsive" %> 
            <%= image_tag "graduation.jpg", alt: "", class: "img-responsive" %> 
          </div>
          <h3>Alcance seu objetivo</h3>
          <p>Estamos aqui para te ajudar a alcançar seus objetivos, sejam eles passar no vestibular, aumentar as notas na escola ou na faculdade, ou até mesmo para aprender a estudar e criar disciplina. Chame um professor e aprenda como nunca aprendeu antes!</p>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>

<!-- Product & links ends --> 



<!-- Color blocks starts -->

  <div class="color-blocks">
    <div class="row">

      <div class="col-md-4">

        <div class="c-block">

          <!-- Left column with color background -->
          <div class="col-l b-red">
            <!-- Link -->
            <a href="<%= contato_path %>">
              <!-- Icon -->
              <i class="icon-envelope-alt"></i>
              <!-- Text -->
              Contato
            </a>
          </div>

          <div class="col-r b-purple">
            <a href="<%= sobre_path %>">
              <i class="icon-user"></i>
              Sobre
            </a>
          </div>

        </div>

        <div class="clearfix"></div>

      </div>
      
      <div class="col-md-4">

        <div class="c-block">

          <!-- Left column with color background -->
          <div class="col-l b-green">
            <!-- Link -->
            <a href="<%= pricing_path %>">
              <!-- Icon -->
              <i class="icon-usd"></i>
              <!-- Text -->
              Preços
            </a>
          </div>

          <div class="col-r b-blue">
            <a href="#">
              <i class="icon-facebook"></i>
              Facebook
            </a>
          </div>

        </div>

        <div class="clearfix"></div>

      </div>
      
      <div class="col-md-4">

        <div class="c-block">

          <!-- Left column with color background -->
          <div class="col-l b-lblue">
            <!-- Link -->
            <a href="#">
              <!-- Icon -->
              <i class="icon-twitter"></i>
              <!-- Text -->
              Twitter
            </a>
          </div>

          <div class="col-r b-orange">
            <a href="#">
              <i class="icon-google-plus"></i>
              Google Plus
            </a>
          </div>

        </div>

        <div class="clearfix"></div>

      </div>

    </div>
  </div>


<!-- Color blocks ends -->


  </div>
</div>
