<!DOCTYPE html>
<html>
<head>
  <meta name="google-site-verification" content="5VR7jJOrp88z1ZYnCxIfvexYjd8Q_RpaM0sMeiNhm_c" />
  <title>Projeto Matemática | Aulas particulares com os melhores professores</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= favicon_link_tag 'favicon/favicon.png' %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Header Starts -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="logo">
          <%= link_to root_path do %>
            <%= image_tag "logo_pi.jpg" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Navigation bar starts -->

<div class="navbar bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
      
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li><%= link_to "Início", root_path %></li>
        <li><%= link_to "Quem somos", sobre_path %></li>
        <li><%= link_to "Valores", pricing_path %></li>
        <li><%= link_to "Contato", contato_path %></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Navigation bar ends -->

  <%= yield %>

<!-- Social -->

<div class="social-links">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="big"><span>Siga-nos no</span> <a href="http://www.facebook.com/projmatematica"><i class="icon-facebook"></i>Facebook</a> <a href="#"><i class="icon-twitter"></i>Twitter</a> <a href="#"><i class="icon-google-plus"></i>Google Plus</a></p>
      </div>
    </div>    
  </div>
</div>
<!-- Footer -->
<footer>
  <div class="container">
    <div class="row"> 
      <div class="col-md-12">
        <div class="copy" style="border-top: none">
          <h6>Projeto Matemática</h6>
          <p>Copyright &copy; <a href="<%= root_path %>">Projeto Matemática</a> - <a href="<%= root_path %>">Home</a> | <a href="<%= sobre_path %>">Quem Somos</a> | <a href="<%= pricing_path %>">Preços</a> | <a href="<%= contato_path %>">Contato</a></p>
        </div>
      </div>
    </div>
  <div class="clearfix"></div>
  </div>
</footer> 
<%= javascript_include_tag "application", "jquery.cslider", "jquery.prettyPhoto", "jquery.isotope", "cycle", "modernizr.custom.28468", "filter", "jquery.flexslider-min", "easing", "custom" %>
</body>
</html>
